
{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{ offices.officeName }}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>{{ offices.officeDescription }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}